<!-- Modelo de Estrutura para uso da AC4 -->

<!doctype html>
<html lang="pt-br">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="node_modules/bootstrap/compiler/bootstrap.css">

    <title>Projeto-Django!</title>
    <link rel="shotcut icon" href="imagens/logo.jpg" type="image/x-JPG"/>
  </head>
  <body>

   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script>window.jQuery || document.write('/node_modules/jquery/dist/jquery.slim.min.js')</script>
    <script src="node_modules/popper.js/dist/popper.js"></script>
    <script src="node_modules/popper.js/dist/popper.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
    </head>
  
    <body>
  

    <!-- Navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <img class="align-self-start mr-3" src="imagens/home_logo.jpg" alt="Imagem de exemplo genérica">
        <!--<a class="navbar-brand" href="#">DevOps Colege</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
  
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="home.html">Home Page</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="lista_cursos.html">Lista de Curso</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#" >Detalhes de Curso<span class="sr-only">(current)</span></a>            </li>
            <li class="nav-item">
              <a class="nav-link" href="disciplina.html" >Disciplina</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="noticias.html" >Notícias</a>
            </li>
            </li>

          </ul>



          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="O que está procurando?" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </nav>
  
      <main role="main">
  
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
          <div class="container">
            <h1 class="display-3">Daniele C. de Oliveira - RA 1802250</h1>
            <p>
                Modelo para Detalhes de Curso.</p>
            <p><a class="btn btn-primary btn-lg" href="lista_cursos.html" role="button">Retornar a Lista de Cursos &raquo;</a></p>
          </div>
        </div>
       </main>
  
      <div class="media">
        <img class="align-self-start mr-3" src="imagens/bd.jpg" alt="Imagem de exemplo genérica">
        <div class="media-body">
          <h5 class="mt-0">Banco de Dados</h5>
          <p>O Curso Tecnólogo em Banco de Dados atua em um segmento da área de informática que abrange a administração dos recursos de infraestrutura lógica dos ambientes informatizados.</p>

        <p>O curso de Banco de Dados prepara o aluno para ser um profissional versátil e com habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e administração de sistemas de Banco de Dados, com acesso a todo o repertório técnico e teórico da área</p>
        <p>A graduação mostra a importância da segurança de compartilhamento de dados nas empresas modernas e ensina as melhores técnicas e ferramentas de criação e implementação da mesma.</p>
        <p>Na Impacta, você será preparado para o cenário real de gestão e liderança empresarial, garantindo a capacidade de comunicação e criatividade para solucionar problemas, atingir os melhores resultados, aumentar a produtividade e reduzir custos.</p>
        <p><a class="btn btn-secondary" href="disciplina.html" role="button">Ver Disciplinas &raquo;</a></p>
          <br></br>   

        </div>
      </div>
      <div class="media">
        <img class="align-self-start mr-3" src="imagens/rc.jpg" alt="Imagem de exemplo genérica">
        <div class="media-body">
          <h5 class="mt-0">Redes de Computadores</h5>
          <p>O Curso Tecnólogo em Redes de Computadores atua em um segmento da área de informática que abrange a administração dos recursos de infraestrutura lógica dos ambientes informatizados.</p>

        <p> Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.</p>
        <p> Aprende-se a realizar controles de tráfego e implementar tecnologias de segurança para garantir o bom funcionamento dos sistemas de comunicação de dados, com competência para atuar em empresas de pequeno e grande porte.</p>
        <p>O aluno terá uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.</p>
        <p><a class="btn btn-secondary" href="disciplina.html" role="button">Ver Disciplinas &raquo;</a></p>
        
        <br></br>  
      </div>
      </div>
      <div class="media">
        <img class="align-self-start mr-3" src="imagens/ads.jpg" alt="Imagem de exemplo genérica">
        <div class="media-body">
          <h5 class="mt-0">Análide e Desenvolvimento de Sistemas</h5>
          <p>O Curso Tecnológico de Análise e Desenvolvimento de sistemas oferece uma formação sólida em desenvolvimento de sistemas, gerando conhecimento científico e inovação e que os incentivem a estender suas competências à medida que a área se desenvolva.</p>

        <p>Entender as necessidades das empresas é fundamental para fazê-las crescer e gerar bons resultados. Desta maneira, um dos caminhos para alavancar os negócios e se destacar no mercado de trabalho é o da Tecnologia. Para isso, a Faculdade Impacta oferece a graduação em Análise e Desenvolvimento de Sistemas, que prepara você para atuar em todas as etapas de projetos de tecnologia da informação - concepção, gerência e manutenção, aplicação e mensuração de resultados. </p>
        <p>O curso é voltado para a criação de programas, softwares e sistemas para as empresas. As etapas do projeto de sistemas de software, como análise, projeto, teste, gestão, implantação e manutenção de sistemas de informação também estão entre os aprendizados da graduação. </p>
        <p><a class="btn btn-secondary" href="disciplina.html" role="button">Ver Disciplinas &raquo;</a></p>
        
        <br></br>  
      </div>
      </div>



  </body>
  <footer class="container">
    <p>Copyright &copy; 2019-2020 | Work Group DevOps - By DevOps Colege - Teacher-led Vanderson Gomes Bossi</p>
  </footer>
</html>